@using Sem3Project.Entites
@{
    ViewBag.Title = "Edit";
    var list = ViewBag.listAdmin;
}
<section class="modal-header">
    <h2>Edit a Product</h2>
</section>

<section class="modal-body row">
    <section>
        <div><p class="text-danger" id="update-valid"></p></div>
        <form class="form-horizontal" id="form" method="post" enctype="multipart/form-data">
            <section class="col-md-6">
                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">Product Name</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="productName" maxlength="10" placeholder="Enter product name" style="width:280px;" />
                            <span class="text-danger" id="productName-valid"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">Supplier</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <select class="form-control " id="SupplierID" style="width: 280px;">
                                <option value="1">Exotic Liquids</option>
                                <option value="2">New Orleans Cajun Delights</option>
                                <option value="3">Grandma Kelly's Homestead</option>
                                <option value="4">Tokyo Traders</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">CategoryID</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <select class="form-control " id="CategoryID" style="width: 280px;">
                                <option value="1">Beverages</option>
                                <option value="2">Condiments</option>
                                <option value="3">Confections</option>
                                <option value="4">Dairy Products</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">QuantityPerUnit</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="QuantityPerUnit" maxlength="10" placeholder="Enter QuantityPerUnit" style="width:280px;" />
                            <span class="text-danger" id="QuantityPerUnit-valid"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">UnitPrice</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="UnitPrice" maxlength="10" placeholder="Enter UnitPrice" style="width:280px;" />
                            <span class="text-danger" id="UnitPrice-valid"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">UnitsInStock</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="UnitsInStock" maxlength="10" placeholder="Enter UnitsInStock" style="width:280px;" />
                            <span class="text-danger" id="UnitsInStock-valid"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">UnitsOnOrder</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="UnitsOnOrder" maxlength="10" placeholder="Enter UnitsOnOrder" style="width:280px;" />
                            <span class="text-danger" id="UnitsOnOrder-valid"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">ReorderLevel</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="ReorderLevel" maxlength="10" placeholder="Enter ReorderLevel" style="width:280px;" />
                            <span class="text-danger" id="ReorderLevel-valid"></span>
                        </div>
                    </div>
                </div>

                @*<div class="form-group">
                    <label for="name" class="control-label col-sm-2">Discontinued</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                         
                            <span class="text-danger" id="Discontinued-valid"></span>
                        </div>
                    </div>
                </div>*@

            </section>

        </form>
    </section>
</section>
<section class="modal-footer">
    <div class="form-group ">
        <div class="col-md-12">
            <button type="button" id="edit" class="btn btn-primary  " value="@ViewBag.ID">Edit</button>
            <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal" value="@ViewBag.ID">Cancel</button>
        </div>
    </div>
</section>
<script src="~/Scripts/admin/product/edit.js"></script>
<script type="text/javascript">
 $(document).ready(function () {
        var getID = @ViewBag.ID;
        $.ajax({
            type: 'GET',
            url: '/Admin/Product/GetProductByID?id=' + getID,
            cache: false,
            dataType: 'json',
            contentType: 'application/json;charset= utf-8',
            success: function (data) {
                $(function () {
                    $("#productName").val(data.ProductName);
                    $("#SupplierID").val(data.SupplierID);
                    $("#CategoryID").val(data.CategoryID);
                    $("#QuantityPerUnit").val(data.QuantityPerUnit);

                    $("#UnitPrice").val(data.UnitPrice);

                    $("#UnitsInStock").val(data.UnitsInStock);
                    $("#UnitsOnOrder").val(data.UnitsOnOrder);
                    $("#ReorderLevel").val(data.ReorderLevel);
                    $("#Discontinued").val(data.Discontinued);
        
                });
            }
        });
        function convertNETDateTime(sNetDate) {
            if (sNetDate == null) return null;
            if (sNetDate instanceof Date) return sNetDate;
            var r = /\/Date\(([0-9]+)\)\//i
            var matches = sNetDate.match(r);
            if (matches.length == 2) {
                return new Date(parseInt(matches[1]));
            }
            else {
                return sNetDate;
            }
        };
        function convert(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            return [date.getFullYear(), mnth, day].join("-");
        };
    });

</script>

