
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout2.cshtml";
}

<h2>Maintain Product</h2>
<section>
    <section class="col col-md-10">
        <section class="col col-md-offset-2">
            <a onclick="createNewProduct()" href="#" class="btn btn-primary">Create New Product</a>
        </section>
    </section>

    <table id="data-table" class="table table-hover">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>QuantityPerUnit </th>
                <th>UnitPrice</th>
                <th>UnitsInStock</th>
                <th>UnitsOnOrder</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="content-data"></tbody>
    </table>
</section>
<div id="dashboardModalWrapper" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:100%; height:auto;">
        <div class="modal-content">
            <div id='dashboardModalContent'></div>
        </div>
    </div>
</div>
<script src="~/Scripts/admin/product/index.js"></script>
<script type="text/javascript">
    function createNewProduct(e) {
        //debugger;
        var url = "/Admin/Product/Create";

        $('#dashboardModalContent').load(url, function () {
            $('#dashboardModalWrapper').modal({
                backdrop: 'static',
                keyboard: false
            }, 'show');
        });
    }
    function showEdit(e) {

        var url = "/Admin/Product/Edit?id="+ e;
  
        $('#dashboardModalContent').load(url, function () {
            $('#dashboardModalWrapper').modal({
                backdrop: 'static',
                keyboard: false
            },'show');
        });
    }
    function showDetail(e) {

        var url = "/Admin/Product/Details?id=" + e;

        $('#dashboardModalContent').load(url, function () {
            $('#dashboardModalWrapper').modal({
                backdrop: 'static',
                keyboard: false
            },'show');
        });
    }
</script>

